@media (max-width: 600px){
  html {
    font-size: 12px;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    margin-bottom: 4.5rem;
  }

  .header-container {
    justify-content: center;
  }

  .welcome {
    justify-content: center;
    margin-top: 3rem;
    padding: 0;
  }

  .menu {
    display: flex;
    margin-bottom: 2rem;
  }

  .menu a {
    font-size: 1.5rem;
  }

  .box {
    width: 18rem;
  }

  .box .title {
    font-size: 1.9rem;
  }

  .image-container {
    width: 12rem;
  }

  .box .address {
    font-size: 1.3rem;
  }

  .box .occupations {
    font-size: 1.1rem;
  }

  .social-media {
    gap: 1rem;
  }

  .social-media li {
    width: 2.5rem;
  }
}

@media screen and (max-width: 376px) {

  header {
    margin-bottom: 2.5rem;
  }

  .welcome {
    margin-bottom: 10px;
    margin-top: 2rem;
  }

  .menu {
    margin-bottom: 1rem;
  }

  .menu a {
    font-size: 1.3rem;
  }

  .coin {
    height: 35pxç;
  }

  .home-li {
    display: flex;
    flex-direction: row;
  }

  .sobre-li {
    display: flex;
    flex-direction: row;
  }

  .box {
    margin-top: 7rem;
  }
}

