* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  width: 50%;
}

nav ul {
  justify-content: center;
  width: 100%;
}

section {
  min-height: 100vh;
}

li {
  list-style: none;
}

body {
  font-family: "Silkscreen", cursive;
}

body::before {
  content: "";
  background: url(../img/back-mario.gif) no-repeat center;
  background-size: cover;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(196, 196, 196, 0.11);
  backdrop-filter: blur(5px);
  position: fixed;
  border-bottom: double 5px rgba(255, 255, 255, 0.452);
}

#main {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.welcome {
  display: flex;
  color: #eee;
  margin: 15px 10rem;
}

.menu {
  display: flex;
  gap: 3rem;
}

.menu a {
  font-size: 1.1rem;
  color: #eee;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
  display: block;
}

.menu a:hover {
  transition: all 0.2s ease;
  -webkit-filter: drop-shadow(3px 4px 1.5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 4px 1.5px rgba(0, 0, 0, 0.5));
}

.coin {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
  background: #eee;
  padding: 4rem;
  box-shadow: 2px 2px 16px rgb(0 0 0 / 60%);
  color: #aeaeae;
  border-radius: 3.125rem;
  width: 23rem;
}

.box .title {
  font-size: 2.25rem;
  color: #5c94fc;
}

.image-container {
  width: 12.5rem;
  margin-bottom: 2rem;
}

.image-container img {
  max-width: 100%;
  border-radius: 50%;
  transition: all 1s;
  cursor: grab;
}

.image-container img:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.box .address {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.box .occupations {
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}

.social-media li {
  transition: all 0.5s;
  cursor: pointer;
  font-size: 2rem;
  color: #aeaeae;
}

.social-media li a {
  text-decoration: none;
  color: inherit;
}

.social-media li:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.social-media .icon-insta:hover {
  color: #f213a8;
}

.social-media .icon-wpp:hover {
  color: #1BD741;
}

.social-media .icon-linke:hover {
  color: #0A66C2;
}

.social-media .icon-git:hover {
  color: #161B22;
}
