* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0.625rem 0;
}

body {
  font-family: "Press Start 2P", cursive;
  font-family: "Silkscreen", cursive;
  background: url(../img/back-mario.gif) no-repeat left center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

li {
  list-style: none;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu a {
  font-size: 1.25rem;
  color: #eee;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.menu a:hover {
  transition: all 0.2s ease;
  -webkit-filter: drop-shadow(3px 4px 1.5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 4px 1.5px rgba(0, 0, 0, 0.5));
}

.coin {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  color: #eee;
}

.home-li {
  display: flex;
  flex-direction: row;
}

.sobre-li {
  display: flex;
  flex-direction: row;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #eee;
  padding: 4rem;
  box-shadow: 2px 2px 16px rgb(0 0 0 / 60%);
  color: #aeaeae;
  border-radius: 3.125rem;
  width: 23rem;
}

.box .title {
  font-size: 2.25rem;
}

.image-container {
  width: 12.5rem;
  margin-bottom: 2rem;
}

.image-container img {
  max-width: 100%;
  border-radius: 50%;
  transition: all 1s;
  cursor: grab;
}

.image-container img:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.box .title {
  color: #5c94fc;
}

.box .address {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.box .occupations {
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-media li {
  width: 1.875rem;
}

.social-media li a img:hover {
  filter: invert(61%) sepia(27%) saturate(7298%) hue-rotate(199deg)
    brightness(103%) contrast(97%);
  color: #5c94fc;
  transition: all 0.2s ease;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.social-media li a img {
  max-width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}
